@charset "UTF-8";
/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #0A0A0A;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #FDB827;
  position: sticky;
  top: 0%;
  list-style: none;
  z-index: 3; /* Asegura que el encabezado esté sobre el acordeón */
}
header .header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
header .header1 img {
  width: 111px;
}
header .header1 nav ul {
  list-style: none;
  display: inline-block;
  font-style: italic;
  font-size: xx-large;
  margin-right: 20px;
}
header .header1 nav ul li {
  list-style: none;
}
header .header1 nav ul li a {
  color: #0A0A0A;
}
header .header1 nav ul li a:hover {
  font-size: 50px;
}

.header2 p.titulo2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

footer {
  background-color: #FDB827;
  display: flex;
  justify-content: space-between;
}
footer img {
  width: 80px;
}
footer .copy {
  display: flex;
  align-items: center;
  font-size: 13px;
}
footer .redess a img.redes {
  padding: 15px;
}

.banner {
  background-image: url(../images/banner.jpg);
  height: 240px;
  background-size: cover;
  background-position: top 20px;
  text-align: center;
  font-size: x-large;
  color: #0A0A0A;
  text-shadow: -2px 3px 0px rgba(197, 193, 1, 0.6);
}

.perfil {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  color: #FDB827;
  text-align: center;
}
.perfil .section {
  flex: 1;
}
.perfil h3 {
  font-size: 35px;
}
.perfil .nosotros {
  display: flex;
  flex-direction: column;
}
.perfil .snosotros {
  flex: 0 0 45%;
  width: 50%;
  padding-left: 10px;
  margin-top: 10px;
}
.perfil .bienvenida {
  margin: 10px;
  text-align: center;
  color: #F1F1F1;
  font-size: 22px;
}
.perfil .bienvenida p {
  margin: 20px;
}
.perfil .boru {
  font-size: 30px;
  color: #FDB827;
}

.local1 {
  text-align: center;
  font-size: 35px;
  color: #FDB827;
}

.visitante {
  font-size: 30px;
  text-align: center;
  color: #F1F1F1;
  margin-bottom: 30px;
}

.entradas {
  text-align: center;
  list-style: none;
}
.entradas ul {
  list-style: none;
  padding: 0;
}
.entradas li {
  font-size: 20px;
  color: #F1F1F1;
  margin-bottom: 10px;
}
.entradas li div {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: solid;
  color: #0A0A0A;
  background-color: #FDB827;
}
.entradas li div a {
  color: black;
  text-decoration: none;
}
.entradas .locales {
  color: #FDB827;
}

.legend {
  align-self: center;
  color: #F1F1F1;
  font-size: 20px;
  margin: 5px;
}

.legend2 {
  display: flex;
  justify-content: center;
  color: #FDB827;
  font-size: 20px;
}

.formulario {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30.5vw;
}
.formulario input {
  width: 300px;
  height: 30px;
  font-size: 14px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.boton {
  margin-top: 20px;
  margin-bottom: 20px;
}
.boton button {
  font-size: 15px;
  background-color: #FDB827;
  border: 1px solid #0A0A0A;
  width: 75px;
  height: 50px;
}

.accordion {
  z-index: 1;
  position: relative;
}
.accordion.show {
  z-index: 2;
}
.accordion .accordion-header h2 {
  font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
}
.accordion .accordion-header .accordion-button {
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.secun {
  color: #FDB827;
  font-size: xx-large;
  text-align: center;
  padding: 25px;
  margin: 40px;
}

.video {
  display: flex;
  justify-content: space-between;
}

.padre {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.padre img {
  width: 100%;
  height: 100%;
  display: block;
}

.secun {
  color: #FDB827;
  font-size: xx-large;
  text-align: center;
  padding: 25px;
  margin: 40px;
}

.palmares div {
  display: flex;
  flex-direction: row;
}
.palmares div p {
  font-family: "Anton", sans-serif;
  font-size: xx-large;
  display: flex;
  align-items: center;
  padding: 70px;
}

.ligas {
  color: #FDB827;
}

/*# sourceMappingURL=estilos.css.map */
