.headerlink{
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  color: $negro;
  text-decoration: none;


  &:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: $amarillo2;
    border-radius: 14%;
  }

}
header {
  display: flex;
  flex-direction: column;
  background-color: $amarillo;
  position: sticky;
  top: 0%;
  list-style: none;
  z-index: 3; /* Asegura que el encabezado esté sobre el acordeón */

  .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    img {
      width: 111px;
    }

    nav {
      ul {
        list-style: none;
        display: inline-block;
        font-style: italic;
        font-size: xx-large;
        margin-right: 20px;

        li {
          list-style: none;

          a {
            transition: transform 0.3s ease-in-out;
            display: inline-block;
            color: $negro;

            &:hover {
              transform: translateY(-5px); 
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
            }
          }
        }
      }
    }
  }
}
  
    .header2 {
      p.titulo2 {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }
  
  
  footer {
    background-color:$amarillo;
    display: flex;
    justify-content: space-between;
  
    img {
      width: 80px;
    }
  
    .copy {
      display: flex;
      align-items: center;
      font-size: 13px;
    }
  
    .redess {
      a {
        img.redes {
          padding: 15px;
        }
      }
    }
  }