// Mobile
@media only screen and (max-width: 480px) {
    
    .nosotros img{
        display: none;
    }
    .banner{
        display: none;
    }
    .snosotros{
        width: 0vw;
    }
    .bienvenida{
        width: 100vw;
        margin: 0 !important;
        p{
            font-size: 17px;
        }
    }
    .header1{
        flex-direction: column;

        ul{
            margin: 0 !important;
            padding: 0;
            .headerlink{
                font-size: 20px;
                margin: 4px;
            }
        }
    } 
    .header2 p.titulo2 {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    .entradas{
        padding: 0;
    }
    .entradas li{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 15px;
        text-align: start;
    }
    .padre{
        display: flex;
        flex-direction: column;
    }
    .video{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
        .video2 {
            width: 95vw;
            height: 250px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .palmares div img{
        margin: 10px;
        width: 150px;
        height: 150px;
    }
    .palmares div p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: space-around;
        .footerlogo{
            display: none;
        }
        .copy {
            display: none;
        }
    }
    .accordion .accordion-header .accordion-button {
        font-size: 20px;
    }
    .formulario{
        width: 80%;
    }
}


@media only screen and (max-width: 437px) {
    header .header1 nav ul {
        padding: 0px;
    }
    .header1 ul .headerlink{
        margin: 2px;
    }
    .header2 p.titulo2{
        display: none;
    }
    footer img{
        width: 70px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    header .header1 nav ul {
        font-size: 28px;
        margin: 0;
    }

    footer .copy{
        display: none;
    }

   .nosotros img{
        display: none;
   }
   .perfil .snosotros {
    display: none;
   }
   .perfil .bienvenida {
    font-size: 30px;
   }
   footer {
    justify-content: space-evenly;
   }
   .entradas li {
    margin-bottom: 30px;
   }
   .padre{
    display: flex;
    flex-direction: column;
   }
   .video{
    display: flex;
    flex-direction: column;
   }
   .video .video2 {
    width: auto;
    margin-bottom: 20px;
   }
   form {
    height: 70vh;
   }
   .palmares div img {
    margin: 30px;
    width: 30%;
    height: 200px;
   }
   .palmares div {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}

@media only screen and (min-width:481px) and (max-width:767px) {
    header .header1 nav ul {
        font-size: 19.6px;
        margin: 0;
    }
    header .header1 {
        flex-direction: column;
        align-items: stretch;
    }
    .header2 p.titulo2 {
        display: none;
    }
    header .header1 img {
        align-self: center;
    }
    ul {
        width: 19%;
        text-align: center;
        padding: 0;
    }
    footer .copy {
        display: none;
    }
    .footerlogo{
        display: none;
    }
    footer {
        justify-content: center;
    }
    .perfil .snosotros {
        display: none;
    }
    .entradas{
        width: auto;
    }
    .header1 a{
        align-self: center;
        width: auto;
    }
    .padre{
        display: flex;
        flex-direction: column;
    }
    .video{
        display: flex;
        flex-direction: column;
       }
       .video .video2 {
        width: auto;
        margin-bottom: 20px;
    }
    .palmares div img {
        margin: 30px;
        width: 30%;
        height: 200px;
       }
       .palmares div {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .entradas li{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin: 15px;
        text-align: start;
    }
}