/* Mobile */

@media only screen and (max-width: 480px) {
    .snosotros{
        display: none;
    }
    .header2{
        display: none;
    }
    section .banner{
        display: none;
    }
    .bienvenida{
        font-size: 5px;
    }
}








/* Tablet */