// Mobile
@media only screen and (max-width: 480px) {
    
    .nosotros img{
        display: none;
    }
    .banner{
        display: none;
    }
    .snosotros{
        width: 0vw;
    }
    .bienvenida{
        width: 100vw;
        margin: 0 !important;
        p{
            font-size: 17px;
        }
    }
    .header1{
        flex-direction: column;

        ul{
            margin: 0 !important;
            padding: 0;
            .headerlink{
                font-size: 20px;
                margin: 4px;
            }
        }
    } 
    .header2 p.titulo2 {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    .entradas{
        padding: 0;
    }
    .entradas li{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 15px;
        text-align: start;
    }
    .padre{
        display: flex;
        flex-direction: column;
    }
    .video{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
        .video2 {
            width: 95vw;
            height: 250px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .palmares div img{
        margin: 10px;
        width: 150px;
        height: 150px;
    }
    .palmares div p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: space-around;
        .footerlogo{
            display: none;
        }
        .copy {
            display: none;
        }
    }
    .accordion .accordion-header .accordion-button {
        font-size: 20px;
    }
    .formulario{
        width: 80%;
    }
}


@media only screen and (max-width: 437px) {
    header .header1 nav ul {
        padding: 0px;
    }
    .header1 ul .headerlink{
        margin: 1px;
    }
    .header2 p.titulo2{
        display: none;
    }
    footer img{
        width: 70px;
    }
}