.secun{
    color: $amarillo;
    font-size: xx-large;
    text-align: center;   
    padding: 25px;
    margin: 40px;
}
.locales{
    color: $amarillo;
}
.visitante{
    text-align: center;
    color: $blanco;
}

.entradas ul{
    list-style: none;
    padding: 0;
    .entradas li{
        margin-bottom: 10px;
        .entradas div{
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
            text-decoration: solid;
            color: $negro;
            background-color: $amarillo;
            .entradas a{
                color: $negro;
                text-decoration: none;
            }
        }
    }
}