.secun {
    color: $amarillo;
    font-size: xx-large;
    text-align: center;
    padding: 25px;
    margin: 40px;
  }
  .video {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    .video2{
      width: 600px;
      height: 350px;
    }
  }
  
  .padre {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  
    img {
      padding-bottom: 25px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      height: 100%;
      display: block;
    }
  }