.banner {
  background-image: url(../images/banner.jpg);
  height: 240px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: x-large;
  color: $negro;
  text-shadow: -2px 3px 0px rgba(197, 193, 1, 0.6);
}

.perfil {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  .section {
    flex: 1;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
  }

  .snosotros {
    flex: 0 0 45%;
    width: 140%;
  }

  .bienvenida {
    margin: 10px;
    text-align: center;

    p {
      margin: 20px;
    }
  }

  .boru {
    font-size: 30px;
    color:$amarillo;
  }
}