.banner {
    background-image: url(../images/banner.jpg);
    height: 240px;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: x-large;
  }
  
  .perfil {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  
    section {
      flex: 1;
  
      h3 {
        color: $amarillo !important;
        font-size: 35px;
        text-align: center;
      }
    }
  }
  
  .bienvenida {
    margin: 30px;
    text-align: center;
  
    p {
      margin: 20px;
      font-size: 25px;
      color: $blanco;
    .p .boru{
      font-size: 30px;
      color: $amarillo;
      }
    }
  }
  
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  
  .snosotros {
    flex: 0 0 45%;
    width: 140%;
  }
  
  div.nosotros {
    img {
      width: 100%;
      height: 50%;
      margin: 20px;
    }
  }