.secun {
  color: $amarillo;
  font-size: xx-large;
  text-align: center;
  padding: 25px;
  margin: 40px;
}

.palmares {
  div {
    display: flex;
    flex-direction: row;
    img {
      margin: 25px;
      width: 180px;
      height: 175px;
      display: block;
  }

    p {
      font-family: 'Anton', sans-serif;
      font-size: xx-large;
      display: flex;
      align-items: center;
      padding: 70px;
    }
  }
}

.ligas {
  color: $amarillo;
}